@use '../mixin' as m;
section.video-modal{
  display: none;
  position: fixed;
  z-index: 101; /* 헤더보다 더 위로 올라와야됨, 헤더가 100으로 설정되어있음 */
  left:0;top:0;
  width: 100vw;
  height: 100vh;
  background: black;
  img.youtube-ratio{
    max-width: 90%;
    max-height: 90%;
    opacity: 0;
    @include m.pos-center;
  }//.youtube-ratio
  iframe{
    @include m.pos-center;
  }
}//video-modal

section.person-modal{
  display: none;
  position: fixed;
  top:0;left:0;
  width: 100%;
  height: 100%;
  @include m.scrollbar;
  overflow: auto;
  z-index: 101;
  background: rgb(#000, .8);
  div.center{
    width: min(90%, 600px);
    margin: 10vh auto;
    text-align: center;
    img.person-photo{
      width: min(80%, 300px);
      margin: 0 auto;
      margin-bottom: 30px;
      border: 5px solid #EEE;
    }//img.person-photo
    h4{
      margin-bottom: 10px;
      text-align: left;
      color: var(--green);
      font-style: italic;
      text-transform: uppercase;
      font-size: 1.3em;
      font-weight: 600;
      i{
        margin-right: 5px;
      }
    }
    ul{
      padding: 10px;
      margin-bottom: 20px;
      box-sizing: border-box;
      height: 170px;
      border-radius: 10px;
      background: rgb(#FFF, .1);
      overflow: hidden;
      transition: height .5s;
      li{
        padding: 5px;
        border-bottom: 1px dotted rgb(#FFF, .3);
      }//li
    }//ul
    ul.profile{
      li{
        &:not(:last-child){
          @include m.ellipsis
        }
        small{
          opacity: .7;
          margin-right: 10px;
        }//small
        em{
          font-style: italic;
        }
      }//li
    }//ul.profile
    ul.filmography{
      li{
        time{
          margin-right: 10px;
          font-style: italic;
          opacity: .7;
        }//time
        a{
          em{
            font-size: 1.1em;
          }//em
          small{
            font-style: italic;
          }//small
          &:hover{
            color: var(--green);
            text-decoration: underline;
          }
        }//a
      }//li
    }//ul.filmography

  }//div.center
  .more-btn{
    margin-top: 10px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: .8em;
    transition: all .3;
    .close{
      display: none;
    }//close
    &.active{
      .open{
        display: none;
      }//open
      .close{
        display: block;
      }//close
    }//more.active
    &:hover{
      background: var(--green);
      color: var(--navy);
    }
  }//.more-btn
}//section.person-modal

button.modal-close-btn{
  position: fixed;
  top: 20px;right: 20px;
  font-size: 2em;
  opacity: .7;
  &:hover{
    opacity: 1;
  }//hover
}//button.close